@font-face {
  font-family: 'Proxima Nova';
  src: url("fonts/ProximaNova/ProximaNova-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("fonts/ProximaNova/ProximaNova-Bold.otf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("fonts/ProximaNova/ProximaNova-Light.otf") format("truetype");
  font-weight: normal; }

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("fonts/ProximaNova/ProximaNova-Semibold.otf") format("truetype");
  font-weight: normal; }

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
  margin-bottom: 2em; }

body {
  background-color: #F4F4F4;
  font-family: 'Proxima Nova'; }

.main-block {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
  width: 90%;
  background-color: white;
  overflow: hidden; }
  .main-block h1 {
    font-family: 'Proxima Nova Light';
    font-weight: normal;
    color: #393939;
    padding-top: 0.5em;
    font-size: 2em;
    text-align: center; }
  .main-block h2 {
    font-weight: normal;
    color: #393939;
    font-size: 2em;
    text-align: center; }
  .main-block h4 {
    font-family: 'Proxima Nova Semibold';
    font-weight: normal;
    color: #393939;
    font-size: 1em;
    text-align: center; }

.container {
  margin-bottom: 10%;
  width: 100%;
  display: block;
  line-height: 1.4; }

.title-block {
  margin-top: 20em; }

.column {
  width: 50%;
  font-size: 1.5em;
  display: inline-block;
  margin-top: 2%;
  margin-bottom: 2%;
  position: relative; }

#right {
  color: #888888;
  font-size: 1.5em;
  margin-top: 5%;
  width: 50%;
  margin-bottom: 1em;
  float: right;
  text-align: right;
  display: block; }

#left {
  color: #393939; }

#select-price {
  margin-left: 20%;
  margin-right: 20%;
  text-align: left;
  list-style: none;
  font-weight: bold;
  font-size: 2em; }

.header-line {
  border: 1px solid #EDEDED;
  background-color: #EDEDED;
  clear: both;
  margin-left: auto;
  margin-right: auto; }

.plan-line {
  border: 0.5em solid lightgrey;
  width: 100em;
  background-color: lightgrey;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
  margin-bottom: 15em; }

#plan-type {
  font-weight: normal;
  font-size: 2em; }

#current-plan {
  font-size: 2em; }

#members-num {
  color: #FF0066; }

.plans {
  display: table;
  position: relative;
  margin: 0 auto; }
  @media (max-width: 375em) {
    .plans {
      width: 20%; } }

.plan-container {
  height: 280em;
  margin-top: 40em;
  color: #393939;
  border: 2em solid #393939;
  text-align: center;
  float: left; }
  @media (max-width: 375em) {
    .plan-container {
      width: 50%; } }

#bestplan-container {
  height: 300em;
  margin-top: 30em;
  border: none;
  color: #EDEDED;
  font-size: 1em;
  background: #393939;
  text-align: center; }

.slider {
  height: 25em;
  border-radius: 50%;
  cursor: pointer; }

.number-client {
  font-size: 2em;
  font-family: 'Proxima Nova Semibold';
  font-weight: normal; }

#client-price {
  font-size: 2em;
  font-family: 'Proxima Nova Semibold';
  font-weight: normal; }

#plan-title {
  font-family: 'Proxima Nova Semibold';
  font-weight: normal;
  font-size: 2em;
  font-size: 2em;
  margin-top: 30em;
  text-align: center; }

.bttn {
  font-family: 'Proxima Nova';
  font-weight: normal;
  font-size: 1em;
  background-color: #393939;
  color: white;
  border: none;
  border-radius: 6em;
  text-align: center;
  margin: 4em 2em;
  padding: 5em 15em; }

#pink-bttn {
  background-color: #FF0066;
  color: #F4F4F4;
  margin-top: 25em;
  margin-bottom: 20em; }

#plain-bttn {
  border: 1.5em solid #393939;
  background-color: transparent;
  background-repeat: no-repeat;
  color: #393939;
  border-radius: 6em;
  text-align: center;
  margin-top: 20em;
  padding: 5em 45em; }

.table-plans {
  display: table;
  margin: 0 auto;
  position: relative;
  margin-bottom: 5%; }
  @media (max-width: 375em) {
    .table-plans {
      width: 50%; } }

#service-description {
  color: #393939;
  font-size: 1em;
  text-align: center;
  float: left;
  margin-top: 1em; }
  @media (max-width: 375em) {
    #service-description {
      width: 50%; } }

#description-client {
  color: #888888;
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 2em; }

#plan-options {
  color: #393939;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 2em;
  margin-top: 2em; }
