@font-face {
	font-family:'Proxima Nova';
	src: url('fonts/ProximaNova/ProximaNova-Regular.otf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
	font-family:'Proxima Nova';
	src: url('fonts/ProximaNova/ProximaNova-Bold.otf') format('truetype');
	font-weight: bold;
   font-style: normal;
}

@font-face {
	font-family:'Proxima Nova Light';
	src: url('fonts/ProximaNova/ProximaNova-Light.otf')  format('truetype');
	font-weight: normal;
}

@font-face {
	font-family:'Proxima Nova Semibold';
	src: url('fonts/ProximaNova/ProximaNova-Semibold.otf')  format('truetype');
	font-weight: normal;
}




img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	margin-bottom: 25px;
}

body {
	background-color: #F4F4F4;
	font-family: 'Proxima Nova';
}

.main-block {
	box-sizing: border-box;
	margin-left: 11%;
	margin-right: 11%;
	margin-bottom: 100px;
	background-color: white;
	overflow: hidden;
	position: relative;
	
	h1{
		font-family: 'Proxima Nova Light';
		font-weight: normal;
		color: #393939;
		padding-top: 30px; 
		font-size: 25px;
		text-align: center;
		
	}
	
	h2{
		font-weight: normal;
		color: #393939;
		font-size: 20px;
		text-align: center;
	}
	
	
	h4{
		font-family: 'Proxima Nova Semibold';
		font-weight: normal;
		color: #393939;
		font-size: 18px;
		text-align: center;
	}
	
}

.container {
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 10px;
	display: block;
	line-height: 1.4;
}
.title-block {
	margin-top: 20px;
}

.column{
	width: 40%;
	font-size: 15px;
	display: inline-block;
	margin-top: 2%;
	margin-bottom: 2%;
	position: relative;
}

.plans{
	display: table;
	position: relative;
	margin: 0 auto;
	width: 75%;
}

.table-plans{
	display: table;
  	margin: 0 auto;
	position: relative;
	width: 75%;
	margin-bottom: 5%;

}
#right{
	color: #888888;
	font-size: 14px;
	margin-top: 5%;
	margin-bottom: 10px;
	float: right;
	text-align: right;
	display: block; 
}

#left{
	color: #393939;
}
	

#select-price{
	margin-left: 20%;
	margin-right: 20%;
	text-align: left;
	list-style:none;
}
.header-line{
	border: 1px solid #EDEDED;
	background-color: #EDEDED;
	width: 100%;
	clear: both;
	margin-left: auto;
	margin-right: auto;
}

.plan-line{
	border: 0.5px solid #B7B7B7;
	width: 100px;
	background-color: #B7B7B7;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 15px;
}


#current-plan {
	font-size: 20px;
}

.a {
	border-bottom: 1px dotted #888888;
   text-decoration: none;
}

#members-num {
	color: #FF0066;
	
}

.plan-container {	

   width:32%;
	height: 280px;
	margin-top: 40px;
	color: #393939;
	border: 2px solid #393939;
	text-align: center;
	float: left;	
}

#bestplan-container {
	width:34.5%;
	height: 300px;
	margin-top: 30px;
	border:none;
	color: #EDEDED;
	font-size: 14px;
	background: #393939;
	text-align: center;
}


#enhance-font{
	font-size: 25px;
	font-family: 'Proxima Nova Semibold';
	font-weight: normal;
}

#number-client{
	font-size: 25px;
	font-family: 'Proxima Nova Semibold';
	font-weight: normal;
}
#client-price{
	font-size: 25px;
	font-family: 'Proxima Nova Semibold';
	font-weight: normal;
}
#plan-title{
		font-family: 'Proxima Nova Semibold';
		font-weight: normal;
	   font-size: 30px;
		font-size: 31px;
	   margin-top: 30px;
		text-align: center;
}
.bttn{
	font-family: 'Proxima Nova';
	font-weight: normal;
	font-size: 18px;
	background-color: #393939;
	color: white;
	border: none;
	border-radius: 6px;
	text-align: center;
	margin: 4px 2px;
	padding: 5px 15px;
}

#pink-bttn{
	background-color: #FF0066;
	color: #F4F4F4;
	margin-top: 25px;
	margin-bottom: 20px;
}

.border-table {
	border-left: 2px solid #B7B7B7;
   height: 200px;
}
#plain-bttn{
	border: 1.5px solid #393939;
	background-color: transparent;
	background-repeat:no-repeat;
	color:#393939;
	border-radius: 6px;
	text-align: center;
	margin-top: 20px;
	padding: 5px 45px;
}

#service-description{
	color: #393939;
	width: 32%;
	font-size: 12px;
	text-align: center;
	float: left;
	margin-top: 15px;
}


#description-client{
	color: #888888;
	font-size: 12px;
	margin-top: 15px;
	margin-bottom: 20px;
}

.label{
	color:  #FF0066;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 40px;
}

#plan-options{
	color: #393939;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 20px;
}

